body{margin: 0;
background-color: #F1DEC9;
text-align: center;
font-family:Papyrus;}
p{font-family:Franklin Gothic Medium ;text-underline-position: below;}
h1{text-shadow: 1cm;
margin-top: 0;}

 .Top-container{
position: relative;
padding-top: 100px;}

.bottom-cloud{position: absolute;left: 300px;bottom: 300px;}
.top-cloud{position: absolute;
right: 300px;top: 50px;
}
.my-img{border-radius: 50%; position: relative;width: 50px;height: 50px;}
.self{border-color: white;}
.My-interests{background-color: white;}
header{font-family: Arial, Helvetica, sans-serif;}
hr{stroke: darkblue;width: 10%;text-align: center;text-decoration: dotted;text-decoration-style: dotted;}